.logo:hover {
    filter: drop-shadow(0 0 2rem #d95158);
}

#kt_aside,
#kt_wrapper {
    margin-top: 40px;
}

@media (max-width: 991px) {
    #kt_wrapper {
        margin-top: 55px;
    }
}

.table-striped>tbody>tr:nth-of-type(2n + 1)>* {
    color: var(--kt-text-gray-800) !important;
}

#datatable_content_processing {
    z-index: 99;
    box-shadow: 0 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.05) !important;
}

[data-theme="light"] #approve-info {
    background-color: #56e496;
}

[data-theme="dark"] #approve-info {
    background-color: #41ae72;
}

[data-theme="light"] #reject-info {
    background-color: #f96085;
}

[data-theme="dark"] #reject-info {
    background-color: #b33c58;
}

[data-theme="light"] #inspect-info {
    background: linear-gradient(#f6f7f9, #fff);
}

.dt-button-info>h2,
#dtExportButtonsWrapper {
    display: none !important;
}

.dt-button-info {
    border: 1px solid #f0f2f5 !important;
    box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075) !important;
}

.dt-button-info>div {
    visibility: hidden;
}

.dt-button-info>div:after {
    left: 0;
    width: 100%;
    position: absolute;
    visibility: visible;
    content: "Panoya kopyalandı";
}